name: GitHub Metrics

on:
  schedule:
    - cron: "0 15 * * 0"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: darui3018823
          template: classic
          base: header, activity, community, repositories
          config_timezone: Asia/Tokyo

          plugin_licenses: yes
          
          plugin_languages: yes
          plugin_languages_ignored: C, C++, Makefile, CMake
          plugin_languages_limit: 8

          repositories_skipped: |
            darui3018823/swicthbot_discordbot
            darui3018823/Auto_Reply
            darui3018823/stable-diffusion
            darui3018823/fullcode
